services:
  frontend-dev:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend/dev.Dockerfile
    ports:
      - "4200:4200"
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app

  db:
    restart: always
    image: postgres:17
    environment:
      PGDATABASE: ${DATABASE_NAME}
      PGUSER: ${DATABASE_USERNAME}
      PGPASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    env_file: "./backend/.env"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -d $$DATABASE_NAME -U $$DATABASE_USERNAME"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend-dev:
    build:
      context: ./backend
      dockerfile: ../docker/backend/dev.Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: ${DEBUG}
      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      STRIPE_PUBLISHABLE_KEY: ${STRIPE_PUBLISHABLE_KEY}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    env_file: "./backend/.env"

    volumes:
      - ./backend:/app


  # Add Stripe CLI service with login command
  stripe-cli:
    image: stripe/stripe-cli:latest
    container_name: stripe-cli
    entrypoint: ["/bin/sh", "/run.sh"]
    depends_on:
      - backend-dev
    environment:
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
    env_file: "./backend/.env"
    volumes:
      - ./docker/stripe/run.sh:/run.sh:ro
      # Persist Stripe CLI configuration
      - stripe_cli_config:/root/.config/stripe

    # No ports needed - this container communicates internally

volumes:
  postgres_data:
  stripe_cli_config:
